In [1]:
import pandas as pd
import MetaTrader5 as mt5
import talib as ta
from datetime import datetime,timedelta
from out_in_bb import setup_1,setup_2,setup_2_old,setup_1_old
import warnings
warnings.filterwarnings("ignore")

In [3]:
if not mt5.initialize():
    print("initialize() failed")
    mt5.shutdown()

#ativo = 'EURUSD'
ativo = 'WIN@N'
df = pd.DataFrame(mt5.copy_rates_from_pos(ativo, mt5.TIMEFRAME_M1, 0, 70000))
df['Data'] = pd.to_datetime(df['time'], unit='s').apply(lambda x: str(x))
df = df[['Data','open','high','low','close','real_volume']]
df.columns = ['Data','Open','High','Low','Close','Vol']
df = df.rename(columns = {'real_volume':'vol'})
df

                      Data      Open      High       Low     Close    Vol
0      2022-07-12 16:07:00   99265.0   99270.0   99195.0   99200.0  24888
1      2022-07-12 16:08:00   99205.0   99235.0   99175.0   99220.0  29412
2      2022-07-12 16:09:00   99220.0   99220.0   99185.0   99205.0  15143
3      2022-07-12 16:10:00   99205.0   99245.0   99180.0   99230.0  25505
4      2022-07-12 16:11:00   99230.0   99235.0   99180.0   99235.0  17137
...                    ...       ...       ...       ...       ...    ...
69995  2023-01-13 18:21:00  112055.0  112060.0  111985.0  112010.0   3772
69996  2023-01-13 18:22:00  112010.0  112080.0  111970.0  111980.0   5145
69997  2023-01-13 18:23:00  111985.0  112025.0  111960.0  112025.0   2927
69998  2023-01-13 18:24:00  112010.0  112030.0  111955.0  111995.0   2319
69999  2023-01-13 18:31:00  111990.0  111990.0  111990.0  111990.0    125

[70000 rows x 6 columns]

In [6]:
time_period = 40
var_bb = 2.3
pontos = 150
rate_stop = 1
rate_tp = 2
timeframe = 5

for time_period in [14,20,30,50]:
    for var_bb in [1.8,2,2.2]:
        for pontos in [60,100,150,200,250,300]: 
            df_acao = setup_2(df,timeperiod=time_period,var_bb=var_bb,pontos = pontos,rate_stop = rate_stop,rate_tp = rate_tp,timeframe = 5)
            #df_acao = setup_1_old(df,var_bb = 2,time_period = time_period,pontos = pontos,rate_stop = 1,rate_tp = rate_tp)
            #df_acao = df[(df['acao'] == 'call')]

            df_acao['Hora'] = df_acao['Data'].apply(lambda x: x[11:])
            df_acao['Hora_h'] = df_acao['Hora'].apply(lambda x: x[:2])


            print(f'Time_period: {time_period} -- var_bb: {var_bb} -- pontos: {pontos} -- Timeframe: {timeframe}')
            df_new_hora = df_acao[['Hora_h','resultado_binario']]
            df_new_hora = df_new_hora.groupby(['Hora_h'],as_index=False).agg(qtd_operacoes=('resultado_binario', 'count'), taxa_acerto=('resultado_binario', 'mean'))

            #df_new_hora['pontos_liquido'] = df_new_hora.apply(calc_pontos, axis = 1)
            print(df_new_hora)

            '''df_acao = setup_2(df,timeperiod=time_period,var_bb=var_bb,pontos = pontos,rate_stop = rate_stop,rate_tp = rate_tp,timeframe = 5)
            #df_acao = df[(df['acao'] == 'call')]

            df_acao['Hora'] = df_acao['Data'].apply(lambda x: x[11:])
            df_acao['Hora_h'] = df_acao['Hora'].apply(lambda x: x[:2])


            print('Agrupado por Hora')
            df_new_hora = df_acao[['Hora_h','resultado_binario']]
            df_new_hora = df_new_hora.groupby(['Hora_h'],as_index=False).agg(qtd_operacoes=('resultado_binario', 'count'), taxa_acerto=('resultado_binario', 'mean'))

            #df_new_hora['pontos_liquido'] = df_new_hora.apply(calc_pontos, axis = 1)
            print(df_new_hora)'''

Time_period: 14 -- var_bb: 1.8 -- pontos: 60 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             73     0.342466
1     10             58     0.327586
2     11             54     0.277778
3     12             91     0.406593
4     13             99     0.323232
5     14            106     0.198113
6     15            102     0.333333
7     16            105     0.371429
8     17            138     0.333333
9     18             17     0.470588
Time_period: 14 -- var_bb: 1.8 -- pontos: 100 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             73     0.328767
1     10             58     0.310345
2     11             54     0.351852
3     12             91     0.439560
4     13             99     0.282828
5     14            106     0.273585
6     15            102     0.284314
7     16            105     0.457143
8     17            138     0.369565
9     18             17     0.294118
Time_period: 14 -- var_bb: 1.8 -- pontos: 150 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             73     0.328767
1     10             58     0.293103
2     11             54     0.351852
3     12             91     0.483516
4     13             99     0.313131
5     14            106     0.320755
6     15            102     0.254902
7     16            105     0.485714
8     17            138     0.376812
9     18             17     0.235294
Time_period: 14 -- var_bb: 1.8 -- pontos: 200 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             73     0.356164
1     10             58     0.293103
2     11             54     0.351852
3     12             91     0.428571
4     13             99     0.292929
5     14            106     0.330189
6     15            102     0.235294
7     16            105     0.485714
8     17            138     0.376812
9     18             17     0.352941
Time_period: 14 -- var_bb: 1.8 -- pontos: 250 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             73     0.369863
1     10             58     0.327586
2     11             54     0.370370
3     12             91     0.362637
4     13             99     0.303030
5     14            106     0.301887
6     15            102     0.235294
7     16            105     0.466667
8     17            138     0.384058
9     18             17     0.352941
Time_period: 14 -- var_bb: 1.8 -- pontos: 300 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             73     0.369863
1     10             58     0.310345
2     11             54     0.388889
3     12             91     0.340659
4     13             99     0.323232
5     14            106     0.339623
6     15            102     0.215686
7     16            105     0.457143
8     17            138     0.355072
9     18             17     0.352941
Time_period: 14 -- var_bb: 2 -- pontos: 60 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             27     0.259259
1     10             18     0.555556
2     11             17     0.352941
3     12             23     0.391304
4     13             42     0.452381
5     14             42     0.238095
6     15             49     0.469388
7     16             34     0.294118
8     17             64     0.375000
9     18             11     0.454545
Time_period: 14 -- var_bb: 2 -- pontos: 100 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             27     0.222222
1     10             18     0.444444
2     11             17     0.352941
3     12             23     0.478261
4     13             42     0.404762
5     14             42     0.261905
6     15             49     0.306122
7     16             34     0.411765
8     17             64     0.437500
9     18             11     0.272727
Time_period: 14 -- var_bb: 2 -- pontos: 150 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             27     0.259259
1     10             18     0.388889
2     11             17     0.470588
3     12             23     0.391304
4     13             42     0.452381
5     14             42     0.285714
6     15             49     0.265306
7     16             34     0.500000
8     17             64     0.312500
9     18             11     0.181818
Time_period: 14 -- var_bb: 2 -- pontos: 200 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             27     0.259259
1     10             18     0.388889
2     11             17     0.470588
3     12             23     0.391304
4     13             42     0.404762
5     14             42     0.261905
6     15             49     0.265306
7     16             34     0.441176
8     17             64     0.296875
9     18             11     0.363636
Time_period: 14 -- var_bb: 2 -- pontos: 250 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             27     0.333333
1     10             18     0.388889
2     11             17     0.411765
3     12             23     0.391304
4     13             42     0.404762
5     14             42     0.309524
6     15             49     0.306122
7     16             34     0.411765
8     17             64     0.343750
9     18             11     0.363636
Time_period: 14 -- var_bb: 2 -- pontos: 300 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             27     0.333333
1     10             18     0.222222
2     11             17     0.470588
3     12             23     0.391304
4     13             42     0.380952
5     14             42     0.309524
6     15             49     0.346939
7     16             34     0.411765
8     17             64     0.343750
9     18             11     0.363636
Time_period: 14 -- var_bb: 2.2 -- pontos: 60 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09              8     0.250000
1     10              3     0.333333
2     12              3     0.333333
3     13              8     0.375000
4     14             14     0.214286
5     15              8     0.375000
6     16              8     0.250000
7     17             16     0.437500
8     18              3     0.333333
Time_period: 14 -- var_bb: 2.2 -- pontos: 100 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09              8     0.250000
1     10              3     0.333333
2     12              3     0.333333
3     13              8     0.375000
4     14             14     0.142857
5     15              8     0.250000
6     16              8     0.250000
7     17             16     0.562500
8     18              3     0.000000
Time_period: 14 -- var_bb: 2.2 -- pontos: 150 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09              8     0.250000
1     10              3     0.333333
2     12              3     0.333333
3     13              8     0.375000
4     14             14     0.285714
5     15              8     0.375000
6     16              8     0.250000
7     17             16     0.437500
8     18              3     0.000000
Time_period: 14 -- var_bb: 2.2 -- pontos: 200 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09              8     0.250000
1     10              3     0.333333
2     12              3     0.333333
3     13              8     0.500000
4     14             14     0.214286
5     15              8     0.375000
6     16              8     0.250000
7     17             16     0.562500
8     18              3     0.000000
Time_period: 14 -- var_bb: 2.2 -- pontos: 250 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09              8     0.250000
1     10              3     0.666667
2     12              3     0.333333
3     13              8     0.625000
4     14             14     0.214286
5     15              8     0.375000
6     16              8     0.375000
7     17             16     0.562500
8     18              3     0.000000
Time_period: 14 -- var_bb: 2.2 -- pontos: 300 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09              8     0.250000
1     10              3     0.333333
2     12              3     0.333333
3     13              8     0.500000
4     14             14     0.214286
5     15              8     0.375000
6     16              8     0.375000
7     17             16     0.437500
8     18              3     0.333333
Time_period: 20 -- var_bb: 1.8 -- pontos: 60 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             84     0.333333
1     10             85     0.341176
2     11             82     0.365854
3     12            115     0.382609
4     13            119     0.268908
5     14            129     0.263566
6     15            132     0.280303
7     16            153     0.307190
8     17            162     0.308642
9     18             26     0.346154
Time_period: 20 -- var_bb: 1.8 -- pontos: 100 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             84     0.357143
1     10             85     0.317647
2     11             82     0.317073
3     12            115     0.382609
4     13            119     0.302521
5     14            129     0.325581
6     15            132     0.310606
7     16            153     0.418301
8     17            162     0.388889
9     18             26     0.153846
Time_period: 20 -- var_bb: 1.8 -- pontos: 150 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             84     0.333333
1     10             85     0.364706
2     11             82     0.365854
3     12            115     0.443478
4     13            119     0.344538
5     14            129     0.333333
6     15            132     0.303030
7     16            153     0.450980
8     17            162     0.364198
9     18             26     0.192308
Time_period: 20 -- var_bb: 1.8 -- pontos: 200 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             84     0.333333
1     10             85     0.305882
2     11             82     0.341463
3     12            115     0.408696
4     13            119     0.378151
5     14            129     0.310078
6     15            132     0.287879
7     16            153     0.470588
8     17            162     0.388889
9     18             26     0.230769
Time_period: 20 -- var_bb: 1.8 -- pontos: 250 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             84     0.309524
1     10             85     0.352941
2     11             82     0.353659
3     12            115     0.373913
4     13            119     0.378151
5     14            129     0.279070
6     15            132     0.295455
7     16            153     0.483660
8     17            162     0.358025
9     18             26     0.269231
Time_period: 20 -- var_bb: 1.8 -- pontos: 300 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             84     0.309524
1     10             85     0.352941
2     11             82     0.353659
3     12            115     0.373913
4     13            119     0.361345
5     14            129     0.341085
6     15            132     0.287879
7     16            153     0.477124
8     17            162     0.339506
9     18             26     0.230769
Time_period: 20 -- var_bb: 2 -- pontos: 60 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             51     0.352941
1     10             50     0.280000
2     11             42     0.309524
3     12             63     0.396825
4     13             70     0.300000
5     14             75     0.200000
6     15             66     0.348485
7     16             84     0.297619
8     17             97     0.288660
9     18             14     0.285714
Time_period: 20 -- var_bb: 2 -- pontos: 100 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             51     0.431373
1     10             50     0.240000
2     11             42     0.285714
3     12             63     0.380952
4     13             70     0.314286
5     14             75     0.293333
6     15             66     0.287879
7     16             84     0.416667
8     17             97     0.391753
9     18             14     0.214286
Time_period: 20 -- var_bb: 2 -- pontos: 150 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             51     0.372549
1     10             50     0.260000
2     11             42     0.380952
3     12             63     0.460317
4     13             70     0.400000
5     14             75     0.280000
6     15             66     0.318182
7     16             84     0.488095
8     17             97     0.381443
9     18             14     0.214286
Time_period: 20 -- var_bb: 2 -- pontos: 200 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             51     0.392157
1     10             50     0.280000
2     11             42     0.404762
3     12             63     0.460317
4     13             70     0.414286
5     14             75     0.333333
6     15             66     0.303030
7     16             84     0.476190
8     17             97     0.371134
9     18             14     0.285714
Time_period: 20 -- var_bb: 2 -- pontos: 250 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             51     0.333333
1     10             50     0.280000
2     11             42     0.380952
3     12             63     0.396825
4     13             70     0.385714
5     14             75     0.320000
6     15             66     0.242424
7     16             84     0.511905
8     17             97     0.360825
9     18             14     0.285714
Time_period: 20 -- var_bb: 2 -- pontos: 300 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             51     0.333333
1     10             50     0.240000
2     11             42     0.380952
3     12             63     0.365079
4     13             70     0.371429
5     14             75     0.360000
6     15             66     0.257576
7     16             84     0.500000
8     17             97     0.391753
9     18             14     0.214286
Time_period: 20 -- var_bb: 2.2 -- pontos: 60 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             26     0.384615
1     10             19     0.315789
2     11             16     0.312500
3     12             19     0.421053
4     13             43     0.279070
5     14             35     0.257143
6     15             39     0.410256
7     16             31     0.387097
8     17             51     0.431373
9     18             10     0.500000
Time_period: 20 -- var_bb: 2.2 -- pontos: 100 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             26     0.500000
1     10             19     0.368421
2     11             16     0.187500
3     12             19     0.368421
4     13             43     0.279070
5     14             35     0.314286
6     15             39     0.307692
7     16             31     0.483871
8     17             51     0.568627
9     18             10     0.300000
Time_period: 20 -- var_bb: 2.2 -- pontos: 150 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             26     0.423077
1     10             19     0.263158
2     11             16     0.312500
3     12             19     0.315789
4     13             43     0.348837
5     14             35     0.228571
6     15             39     0.333333
7     16             31     0.516129
8     17             51     0.431373
9     18             10     0.200000
Time_period: 20 -- var_bb: 2.2 -- pontos: 200 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             26     0.423077
1     10             19     0.368421
2     11             16     0.375000
3     12             19     0.315789
4     13             43     0.279070
5     14             35     0.257143
6     15             39     0.282051
7     16             31     0.548387
8     17             51     0.392157
9     18             10     0.500000
Time_period: 20 -- var_bb: 2.2 -- pontos: 250 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             26     0.423077
1     10             19     0.473684
2     11             16     0.250000
3     12             19     0.263158
4     13             43     0.302326
5     14             35     0.228571
6     15             39     0.230769
7     16             31     0.483871
8     17             51     0.352941
9     18             10     0.500000
Time_period: 20 -- var_bb: 2.2 -- pontos: 300 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             26     0.384615
1     10             19     0.315789
2     11             16     0.187500
3     12             19     0.210526
4     13             43     0.302326
5     14             35     0.228571
6     15             39     0.230769
7     16             31     0.483871
8     17             51     0.431373
9     18             10     0.400000
Time_period: 30 -- var_bb: 1.8 -- pontos: 60 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             77     0.350649
1     10            103     0.310680
2     11             91     0.318681
3     12             99     0.262626
4     13            130     0.269231
5     14            130     0.284615
6     15            118     0.203390
7     16            138     0.340580
8     17            169     0.337278
9     18             24     0.291667
Time_period: 30 -- var_bb: 1.8 -- pontos: 100 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             77     0.350649
1     10            103     0.291262
2     11             91     0.329670
3     12             99     0.363636
4     13            130     0.276923
5     14            130     0.276923
6     15            118     0.271186
7     16            138     0.405797
8     17            169     0.384615
9     18             24     0.375000
Time_period: 30 -- var_bb: 1.8 -- pontos: 150 -- Timeframe: 5
  Hora_h  qtd_operacoes  taxa_acerto
0     09             77     0.337662
1     10            103     0.300971
2     11             91     0.351648
3     12             99     0.454545
4     13            130     0.284615
5     14            130     0.338462
6     15            118     0.313559
7     16            138     0.471014
8     17            169     0.319527
9     18             24     0.333333

In [9]:
df_acao[['Data','pos_BB_inicial','acao','resultado_binario']].tail(10)

                      Data  pos_BB_inicial  acao  resultado_binario
39868  2023-01-11 17:20:00               0  sell                0.0
39874  2023-01-11 17:50:00               0  sell                0.0
39909  2023-01-12 11:20:00               0  call                1.0
39916  2023-01-12 11:55:00               0  call                0.0
39919  2023-01-12 12:10:00               0  call                1.0
39932  2023-01-12 13:15:00               0  sell                0.0
39959  2023-01-12 15:30:00               0  call                0.0
39973  2023-01-12 16:40:00               0  call                0.0
39980  2023-01-12 17:15:00               0  call                1.0
39996  2023-01-13 09:10:00               0  call                0.0