In [20]:
import pandas as pd
import talib as ta
import matplotlib.pyplot as plt
import warnings
import lightgbm as lgb
from workflow import main_indicators,Larry_simples_inverso,Larry_simples_compra,Larry_completo
from sklearn.model_selection import train_test_split
import plotly.express as px
from datetime import datetime
warnings.filterwarnings("ignore")

In [2]:
ativo = 'win_1_full'
colnames = ['Data','Open','High','Low','Close','Vol']
df = pd.read_csv(f'./Dados/{ativo}.csv', names = colnames, skiprows=1)

#df = df.iloc[:1000]

In [21]:
ativo = 'EURUSD1'
colnames = ['Data','Open','High','Low','Close','Vol']
df = pd.read_csv(f'./Dados/{ativo}.csv', sep = '\t', names = colnames)

In [23]:
df = main_indicators(df)

df_acao = Larry_completo(df, tempo_fechar=-5, excluir_seguidos = False, acao = 'all', x_stop = 2)

#df_acao = df_acao[df_acao['tend'] == 0]

compra = df_acao[df_acao['acao'] =='call']['resultado_binario'].sum()/df_acao[df_acao['acao'] =='call'].shape[0]
venda = df_acao[df_acao['acao'] =='sell']['resultado_binario'].sum()/df_acao[df_acao['acao'] =='sell'].shape[0]

compra_result = df_acao[df_acao['acao'] =='call']['resultado_valor'].sum()
venda_result = df_acao[df_acao['acao'] =='sell']['resultado_valor'].sum()

print(f'Venda: {venda}% -- Compra: {compra}%')
print(f'Venda: {venda_result} -- Compra: {compra_result}')

Venda: 0.49931493442943825% -- Compra: 0.4975279252884087%
Venda: 0.13832000000001377 -- Compra: 0.15942000000000656

In [10]:
df_acao = df_acao.drop(columns = ['MA_9_diff_value', 'MA_9_tend', 'MA_9_tend_diff', 'preco','stop', 'realizacao_simplista', 'stop_real', 'tend'])

In [30]:
df_acao['Hora'] = df_acao['Data'].apply(lambda x: x[11:])
df_acao['Hora_h'] = df_acao['Hora'].apply(lambda x: x[:2])
df_acao['Hora_h'] = df_acao['Hora'].apply(lambda x: x[:2])
df_acao['Mes'] = df_acao['Data'].apply(lambda x: x[5:7])


df_acao_12 = df_acao[df_acao['Data'] > '2022-12-01']

In [32]:
df_new = df_acao[['Mes','resultado_binario','resultado_valor']]

In [33]:
df_new.groupby(['Mes']).sum()

     resultado_binario  resultado_valor
Mes
05                1568          0.06184
06                1676          0.04376
07                1480          0.03183
08                1775          0.03687
09                1720          0.06312
10                1660          0.06694
11                 657         -0.00662

In [27]:
df_new.groupby(['Hora_h']).sum()

        resultado_binario  resultado_valor
Hora_h
00                    469          0.01877
01                    427          0.00488
02                    406         -0.00302
03                    442          0.00691
04                    457          0.00650
05                    430         -0.01175
06                    472          0.03617
07                    443          0.01529
08                    446          0.01273
09                    421          0.00089
10                    451          0.02388
11                    531          0.06375
12                    456          0.02519
13                    396         -0.04303
14                    454          0.02245
15                    438          0.00679
16                    407          0.00554
17                    418          0.02204
18                    487          0.02113
19                    466          0.02423
20                    391          0.02229
21                    368          0.00069
22                    446          0.00812
23                    414          0.00730

In [37]:
df_acao.tail(1)['preco'].values[0]

1.03525