In [1]:
import MetaTrader5 as mt5
import pandas as pd

In [2]:
if not mt5.initialize():
    print("initialize() failed")
    mt5.shutdown()

In [6]:
ativo = 'EURUSD'
df1 = pd.DataFrame(mt5.copy_rates_from_pos(ativo, mt5.TIMEFRAME_M15, 0,99999))
df1['data'] = pd.to_datetime(df1['time'], unit='s')
df1 = df1[df1['data'] > '2022-01-01']
df1

,time,open,high,low,close,tick_volume,spread,real_volume,data
75140,1641168000,1.13709,1.13730,1.13654,1.13719,121,10,0,2022-01-03 00:00:00
75141,1641168900,1.13721,1.13723,1.13701,1.13719,95,29,0,2022-01-03 00:15:00
75142,1641169800,1.13673,1.13719,1.13673,1.13719,21,66,0,2022-01-03 00:30:00
75143,1641170700,1.13719,1.13724,1.13705,1.13707,31,31,0,2022-01-03 00:45:00
75144,1641171600,1.13707,1.13781,1.13692,1.13724,1176,11,0,2022-01-03 01:00:00
...,...,...,...,...,...,...,...,...,...
99994,1672440300,1.07018,1.07077,1.07014,1.07049,1015,11,0,2022-12-30 22:45:00
99995,1672441200,1.07050,1.07068,1.07016,1.07029,531,11,0,2022-12-30 23:00:00
99996,1672442100,1.07030,1.07041,1.06995,1.07036,439,13,0,2022-12-30 23:15:00
99997,1672443000,1.07036,1.07038,1.07005,1.07020,348,11,0,2022-12-30 23:30:00
99998,1672443900,1.07019,1.07025,1.06936,1.07016,376,11,0,2022-12-30 23:45:00

In [18]:
ativo = 'WIN@N'
df1 = pd.DataFrame(mt5.copy_rates_from_pos(ativo, mt5.TIMEFRAME_M10, 0,13700))
df1['data'] = pd.to_datetime(df1['time'], unit='s')
df1

KeyError: 'time'

In [11]:
df = df1[['data','open','high','low','close','real_volume']]
df = df.rename(columns = {'real_volume':'vol'})

In [12]:
df.to_csv('EURUSD15_new.csv', index = False)

In [65]:
df1

Empty DataFrame
Columns: []
Index: []