In [1]:
import MetaTrader5 as mt5
import pandas as pd

In [2]:
if not mt5.initialize():
    print("initialize() failed")
    mt5.shutdown()

In [58]:
ativo = 'WINZ22'
df1 = pd.DataFrame(mt5.copy_rates_from_pos(ativo, mt5.TIMEFRAME_M1, 0,5500))
df1['data'] = pd.to_datetime(df1['time'], unit='s')
df1

,time,open,high,low,close,tick_volume,spread,real_volume,data
0,1669892040,111730.0,111870.0,111690.0,111860.0,12713,5,35423,2022-12-01 10:54:00
1,1669892100,111860.0,111945.0,111845.0,111935.0,13969,5,36089,2022-12-01 10:55:00
2,1669892160,111930.0,111980.0,111880.0,111970.0,11232,5,28900,2022-12-01 10:56:00
3,1669892220,111965.0,112000.0,111945.0,112000.0,8002,5,20067,2022-12-01 10:57:00
4,1669892280,111995.0,112040.0,111935.0,111940.0,11362,5,29451,2022-12-01 10:58:00
...,...,...,...,...,...,...,...,...,...
5495,1671040500,103570.0,103570.0,103565.0,103570.0,34,5,147,2022-12-14 17:55:00
5496,1671040560,103570.0,103575.0,103565.0,103575.0,37,5,157,2022-12-14 17:56:00
5497,1671040620,103575.0,103575.0,103565.0,103575.0,34,5,176,2022-12-14 17:57:00
5498,1671040680,103575.0,103575.0,103565.0,103570.0,34,5,92,2022-12-14 17:58:00
5499,1671040740,103570.0,103575.0,103570.0,103570.0,90,5,239,2022-12-14 17:59:00

In [59]:
df = df1[['data','open','high','low','close','real_volume']]
df = df.rename(columns = {'real_volume':'vol'})

In [60]:
df.to_csv('win_1.csv', index = False)