In [1]:
import MetaTrader5 as mt5
import pandas as pd

In [2]:
if not mt5.initialize():
    print("initialize() failed")
    mt5.shutdown()

In [9]:
ativo = 'IND@N'
df1 = pd.DataFrame(mt5.copy_rates_from_pos(ativo, mt5.TIMEFRAME_M1, 0,99999))
df1['data'] = pd.to_datetime(df1['time'], unit='s')
df1

,time,open,high,low,close,tick_volume,spread,real_volume,data
0,1648649340,120555.0,120595.0,120555.0,120595.0,19,5,110,2022-03-30 14:09:00
1,1648649400,120600.0,120600.0,120565.0,120565.0,7,5,35,2022-03-30 14:10:00
2,1648649460,120555.0,120565.0,120540.0,120550.0,17,5,145,2022-03-30 14:11:00
3,1648649520,120545.0,120555.0,120545.0,120555.0,3,5,15,2022-03-30 14:12:00
4,1648649580,120560.0,120575.0,120540.0,120555.0,32,5,160,2022-03-30 14:13:00
...,...,...,...,...,...,...,...,...,...
99994,1671819600,111475.0,111475.0,111470.0,111470.0,7,5,35,2022-12-23 18:20:00
99995,1671819660,111485.0,111485.0,111445.0,111445.0,8,5,50,2022-12-23 18:21:00
99996,1671819720,111485.0,111485.0,111460.0,111460.0,3,5,15,2022-12-23 18:22:00
99997,1671819780,111480.0,111480.0,111425.0,111435.0,7,5,35,2022-12-23 18:23:00
99998,1671819840,111480.0,111505.0,111360.0,111360.0,64,5,755,2022-12-23 18:24:00

In [10]:
df = df1[['data','open','high','low','close','real_volume']]
df = df.rename(columns = {'real_volume':'vol'})

In [11]:
df.to_csv('ind_1_full.csv', index = False)

In [65]:
df1

Empty DataFrame
Columns: []
Index: []