In [66]:
import MetaTrader5 as mt5
import pandas as pd

In [67]:
if not mt5.initialize():
    print("initialize() failed")
    mt5.shutdown()

In [71]:
ativo = 'EURUSD'
df1 = pd.DataFrame(mt5.copy_rates_from_pos(ativo, mt5.TIMEFRAME_M1, 0,11500))
df1['data'] = pd.to_datetime(df1['time'], unit='s')
df1

,time,open,high,low,close,tick_volume,spread,real_volume,data
0,1670819700,1.05145,1.05160,1.05143,1.05152,41,1,0,2022-12-12 04:35:00
1,1670819760,1.05152,1.05157,1.05142,1.05145,39,1,0,2022-12-12 04:36:00
2,1670819820,1.05142,1.05148,1.05142,1.05143,30,1,0,2022-12-12 04:37:00
3,1670819880,1.05143,1.05148,1.05138,1.05148,18,1,0,2022-12-12 04:38:00
4,1670819940,1.05150,1.05158,1.05150,1.05158,22,1,0,2022-12-12 04:39:00
...,...,...,...,...,...,...,...,...,...
11495,1671682740,1.06292,1.06294,1.06274,1.06279,35,1,0,2022-12-22 04:19:00
11496,1671682800,1.06279,1.06279,1.06270,1.06270,31,1,0,2022-12-22 04:20:00
11497,1671682860,1.06270,1.06279,1.06268,1.06274,45,1,0,2022-12-22 04:21:00
11498,1671682920,1.06270,1.06271,1.06254,1.06264,75,1,0,2022-12-22 04:22:00
11499,1671682980,1.06264,1.06280,1.06257,1.06259,72,1,0,2022-12-22 04:23:00

In [72]:
df = df1[['data','open','high','low','close','real_volume']]
df = df.rename(columns = {'real_volume':'vol'})

In [73]:
df.to_csv('eurusd_1.csv', index = False)

In [65]:
df1

Empty DataFrame
Columns: []
Index: []