In [1]:
import pandas as pd
#import MetaTrader5 as mt5
import talib as ta
#from bb_setup import setup_teste
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('./Dados/win_teste.csv',sep = '\t')
df.columns = ['Date', 'Time', '1', '2','Last','4','5']
df = df[['Date','Time','Last']]

df['Data'] = df['Date'] + ' ' + df['Time']
df = df.set_index('Data')

df.index = pd.to_datetime(df.index, format='%Y.%m.%d %H:%M:%S.%f')

#timeframes (milliseconds/microseconds/seconds), use L for milliseconds, U for microseconds, and S for seconds

df = df['Last'].resample('S').ohlc(_method='ohlc')

df['media'] = df[['high','low']].mean(axis = 1)

df = df.reset_index()
df_ticks = df[['Data','media']]

In [3]:
df_ticks.to_csv('./Dados/win_hoje.csv', index = False)

In [66]:
df_ticks_1 = pd.read_csv('./Dados/tick_12_01_12.csv')
df_ticks_2 = pd.read_csv('./Dados/tick_12_12_31.csv')

In [67]:
df_total = pd.concat([df_ticks_1,df_ticks_2])

In [69]:
df_total.to_csv('./Dados/tick_win_12.csv', index = False)

In [72]:
df_total

                        Data     media
0        2022-12-01 09:00:40  112490.0
1        2022-12-01 09:00:41  112515.0
2        2022-12-01 09:00:42  112555.0
3        2022-12-01 09:00:43  112585.0
4        2022-12-01 09:00:44  112572.5
...                      ...       ...
1416638  2022-12-29 18:31:10       NaN
1416639  2022-12-29 18:31:11       NaN
1416640  2022-12-29 18:31:12       NaN
1416641  2022-12-29 18:31:13       NaN
1416642  2022-12-29 18:31:14  111035.0

[2401284 rows x 2 columns]

In [71]:
df_ticks

                       Data     media
0       2022-11-01 09:00:32  118140.0
1       2022-11-01 09:00:33  118270.0
2       2022-11-01 09:00:34  118305.0
3       2022-11-01 09:00:35  118145.0
4       2022-11-01 09:00:36  118137.5
...                     ...       ...
2539463 2022-11-30 18:24:55  112972.5
2539464 2022-11-30 18:24:56  112982.5
2539465 2022-11-30 18:24:57  112990.0
2539466 2022-11-30 18:24:58  112990.0
2539467 2022-11-30 18:24:59  112990.0

[2539468 rows x 2 columns]

In [73]:
df_new = pd.concat([df_ticks,df_total])

In [75]:
df_new.to_csv('tick_win_11_12.csv')