In [1]:
import pandas as pd
import MetaTrader5 as mt5
from sup_res import zig_zag_data,print_horario,zig_zag,zig_zag_2,zig_zag_tsl,zig_zag_100
from backtesting import Strategy, Backtest
import warnings
warnings.filterwarnings("ignore")

if not mt5.initialize(path = r'C:\Program Files\Zero Markets MetaTrader 5 Terminal\terminal64.exe'):
    print("initialize() failed")
    mt5.shutdown()

In [2]:
ativo = 'EURUSD'
df = pd.DataFrame(mt5.copy_rates_from_pos(ativo, mt5.TIMEFRAME_M5, 0, 10000))
df['Data'] = pd.to_datetime(df['time'], unit='s').apply(lambda x: str(x))
df = df[['Data','open','high','low','close','real_volume']]
df.columns = ['Data','Open','High','Low','Close','Vol']
df = df.rename(columns = {'real_volume':'vol'})

In [3]:
df.head()

                  Data     Open     High      Low    Close  Vol
0  2022-12-06 22:50:00  1.04674  1.04713  1.04668  1.04708    0
1  2022-12-06 22:55:00  1.04708  1.04713  1.04676  1.04691    0
2  2022-12-06 23:00:00  1.04698  1.04701  1.04673  1.04674    0
3  2022-12-06 23:05:00  1.04673  1.04682  1.04672  1.04674    0
4  2022-12-06 23:10:00  1.04674  1.04674  1.04649  1.04649    0

In [4]:
zig_zag_percent = 0.2
merge_percent = 0.1
pontos = 0.0006
rate_tp = 1

stats = zig_zag_data(df.iloc[:10000],zig_zag_percent=zig_zag_percent, merge_distance=None,
                    merge_percent=merge_percent, min_bars_between_peaks=9, peaks='All',
                    pontos = pontos,rate_tp = rate_tp,plot = True,rsi = [14,70,30])

print_horario(stats,zig_zag_percent,merge_percent,pontos,rate_tp)

zig_zag_percent: 0.2 -- merge_percent: 0.1 -- pontos: 0.0006--Rate_tp: 1
    Hora_h  qtd_operacoes  taxa_acerto
0        2              3     0.666667
1        3              4     1.000000
2        4              1     0.000000
3        5              1     1.000000
4        7              3     0.666667
5        8              2     0.000000
6        9              6     0.500000
7       10              3     0.333333
8       11              6     0.500000
9       12              1     1.000000
10      15              6     1.000000
11      16              6     0.833333
12      17              3     0.666667
13      18              1     0.000000
14      21              1     1.000000
15      23              2     0.500000

In [6]:
df_read = pd.read_csv('./Resultados/result_eurusd5_rsi14_7030.csv')
df_read.sort_values(by='Taxa_acerto', ascending = False).iloc[:50]

,Timeframe,pontos,zig_zag_percent,merge_percent,rate_tp,N_trades,Taxa_acerto,Pontos_total,Retorno
8,5,0.0007,0.2,0.1,1,163,63.190184,0.02195,3.084467
14,5,0.0007,0.3,0.1,1,135,61.481481,0.01495,2.226020
1,5,0.0005,0.1,0.1,1,180,61.111111,0.01100,2.069480
7,5,0.0005,0.2,0.1,1,163,60.736196,0.00935,1.833205
32,5,0.0007,0.3,0.2,1,121,59.504132,0.01005,1.502840
26,5,0.0007,0.2,0.2,1,150,59.333333,0.01210,1.922764
25,5,0.0005,0.2,0.2,1,150,57.333333,0.00350,1.079609
2,5,0.0007,0.1,0.1,1,180,57.222222,0.00920,1.873712
20,5,0.0007,0.1,0.2,1,160,56.875000,0.00740,1.498240
13,5,0.0005,0.3,0.1,1,135,56.296296,0.00175,0.940804
19,5,0.0005,0.1,0.2,1,160,56.250000,0.00200,0.967215
0,5,0.0003,0.1,0.1,1,180,55.000000,-0.00360,0.498293
6,5,0.0003,0.2,0.1,1,163,51.533742,-0.00665,0.109644
31,5,0.0005,0.3,0.2,1,121,51.239669,-0.00455,0.155072
18,5,0.0003,0.1,0.2,1,160,48.750000,-0.00920,-0.138552
12,5,0.0003,0.3,0.1,1,135,48.148148,-0.00825,-0.174002
24,5,0.0003,0.2,0.2,1,150,46.000000,-0.01110,-0.361644
30,5,0.0003,0.3,0.2,1,121,45.454545,-0.00935,-0.328813
11,5,0.0007,0.2,0.1,2,163,45.398773,0.03315,4.103914
29,5,0.0007,0.2,0.2,2,150,45.333333,0.03030,3.446425
5,5,0.0007,0.1,0.1,2,179,44.692737,0.03375,4.185641
35,5,0.0007,0.3,0.2,2,121,44.628099,0.02265,2.652973
23,5,0.0007,0.1,0.2,2,159,44.025157,0.02775,3.476705
17,5,0.0007,0.3,0.1,2,135,43.703704,0.02265,2.882605
10,5,0.0005,0.2,0.1,2,163,42.944785,0.01535,2.383935
4,5,0.0005,0.1,0.1,2,180,42.777778,0.01650,2.536107
28,5,0.0005,0.2,0.2,2,150,42.666667,0.01350,2.087726
16,5,0.0005,0.3,0.1,2,135,42.222222,0.01125,1.812182
3,5,0.0003,0.1,0.1,2,180,41.111111,0.00360,1.336722
34,5,0.0005,0.3,0.2,2,121,40.495868,0.00695,1.095645
9,5,0.0003,0.2,0.1,2,163,39.877301,0.00145,1.046183
22,5,0.0005,0.1,0.2,2,160,38.750000,0.00500,1.244143
21,5,0.0003,0.1,0.2,2,160,37.500000,-0.00200,0.582018
27,5,0.0003,0.2,0.2,2,150,37.333333,-0.00210,0.522935
33,5,0.0003,0.3,0.2,2,121,37.190083,-0.00185,0.320538
15,5,0.0003,0.3,0.1,2,135,36.296296,-0.00315,0.449728

In [8]:
for index,result_atual in df_read.loc[[8,7]].iterrows():

    zig_zag_percent = result_atual['zig_zag_percent']
    merge_percent = result_atual['merge_percent']
    pontos = result_atual['pontos']
    rate_tp = result_atual['rate_tp']

    stats = zig_zag_data(df,zig_zag_percent=zig_zag_percent, merge_distance=None,
                        merge_percent=merge_percent, min_bars_between_peaks=10, peaks='All',
                        pontos = pontos,rate_tp = rate_tp)

    print_horario(stats,zig_zag_percent,merge_percent,pontos,rate_tp)

zig_zag_percent: 0.2 -- merge_percent: 0.1 -- pontos: 0.0007--Rate_tp: 1.0
    Hora_h  qtd_operacoes  taxa_acerto
0        0              8     0.750000
1        1             18     0.666667
2        2             29     0.551724
3        3             52     0.519231
4        4             28     0.500000
5        5             13     0.615385
6        6             21     0.761905
7        7             25     0.480000
8        8             25     0.440000
9        9             60     0.466667
10      10             43     0.534884
11      11             31     0.419355
12      12             30     0.400000
13      13             32     0.531250
14      14             27     0.666667
15      15             44     0.613636
16      16             33     0.515152
17      17             52     0.442308
18      18             23     0.347826
19      19             14     0.357143
20      20             15     0.466667
21      21             23     0.652174
22      22             16     0.562500
23      23              6     0.666667
zig_zag_percent: 0.2 -- merge_percent: 0.1 -- pontos: 0.0005--Rate_tp: 1.0
    Hora_h  qtd_operacoes  taxa_acerto
0        0              8     0.625000
1        1             19     0.631579
2        2             29     0.586207
3        3             52     0.557692
4        4             28     0.535714
5        5             13     0.615385
6        6             21     0.809524
7        7             25     0.640000
8        8             25     0.520000
9        9             60     0.516667
10      10             43     0.581395
11      11             31     0.387097
12      12             30     0.433333
13      13             32     0.500000
14      14             28     0.714286
15      15             44     0.500000
16      16             33     0.515152
17      17             52     0.365385
18      18             23     0.478261
19      19             14     0.428571
20      20             15     0.466667
21      21             23     0.739130
22      22             16     0.562500
23      23              6     0.833333

In [ ]:
df['Data_d'] = df['Data'].apply(lambda x: x[:10])

lista_data = df['Data_d'].unique()

df_new = df[df['Data_d'] == lista_data[3]]
df_2 = df[df['Data_d'] == lista_data[4]]

plot_zig_zag(df_new,df_2,zig_zag_percent=0.2, merge_distance=None,
                         merge_percent=0.3, min_bars_between_peaks=10, peaks='All')

In [5]:
ativo = 'EURUSD'
df = pd.DataFrame(mt5.copy_rates_from_pos(ativo, mt5.TIMEFRAME_M1, 0, 3000))
df['Data'] = pd.to_datetime(df['time'], unit='s').apply(lambda x: str(x))
df = df[['Data','open','high','low','close','real_volume']]
df.columns = ['Data','Open','High','Low','Close','Vol']
df = df.rename(columns = {'real_volume':'vol'})

In [7]:
df['Data_d'] = df['Data'].apply(lambda x: x[:10])

lista_data = df['Data_d'].unique()
lista_data

array(['2023-01-18', '2023-01-19', '2023-01-20'], dtype=object)