In [1]:
import pandas as pd
import MetaTrader5 as mt5
from sup_res import zig_zag_data,print_horario
from backtesting import Strategy, Backtest
import warnings
warnings.filterwarnings("ignore")

if not mt5.initialize(path = r'C:\Program Files\MetaTrader 5\terminal64.exe'):
    print("initialize() failed")
    mt5.shutdown()

In [2]:
ativo = 'WDO@N'
df = pd.DataFrame(mt5.copy_rates_from_pos(ativo, mt5.TIMEFRAME_M1, 0, 60000))
df['Data'] = pd.to_datetime(df['time'], unit='s').apply(lambda x: str(x))
df = df[['Data','open','high','low','close','real_volume']]
df.columns = ['Data','Open','High','Low','Close','Vol']
df = df.rename(columns = {'real_volume':'vol'})

In [3]:
df.head()

                  Data    Open    High     Low   Close   Vol
0  2022-08-16 17:43:00  5163.0  5163.5  5162.0  5162.5   784
1  2022-08-16 17:44:00  5162.0  5165.5  5162.0  5165.5  3227
2  2022-08-16 17:45:00  5165.0  5167.5  5164.5  5167.5  3525
3  2022-08-16 17:46:00  5167.0  5168.0  5166.5  5168.0  2249
4  2022-08-16 17:47:00  5167.5  5169.5  5167.0  5168.5  2774

In [8]:
zig_zag_percent = 0.2
merge_percent = 0.1
pontos = 5
rate_tp = 2

stats = zig_zag_data(df,zig_zag_percent=zig_zag_percent, merge_distance=None,
                    merge_percent=merge_percent, min_bars_between_peaks=10, peaks='All',
                    pontos = pontos,rate_tp = rate_tp,rsi=[9,75,25])

print_horario(stats,zig_zag_percent,merge_percent,pontos,rate_tp)

zig_zag_percent: 0.2 -- merge_percent: 0.1 -- pontos: 5--Rate_tp: 2
   Hora_h  qtd_operacoes  taxa_acerto
0       9             50     0.360000
1      10             35     0.314286
2      11             48     0.458333
3      12             35     0.485714
4      13             38     0.447368
5      14             27     0.333333
6      15             20     0.350000
7      16             26     0.384615
8      17             26     0.269231
9      18              5     0.400000

In [9]:
[1,2,3,4,5][:-1]

[1, 2, 3, 4]

In [14]:
for num, i in enumerate([1,2,3,4,5]):
    print([1,2,3,4,5][:num ])

[]
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]

In [4]:
df_read = pd.read_csv('./Resultados/result_win1_rsi9_7030.csv')
df_read.sort_values(by='Taxa_acerto', ascending = False).iloc[:50]

,Timeframe,pontos,zig_zag_percent,merge_percent,rate_tp,N_trades,Taxa_acerto,Pontos_total,Retorno
31,1,250,0.3,0.2,1,244,56.967213,7280.0,10.686830
19,1,250,0.1,0.2,1,300,55.000000,6000.0,8.812125
32,1,300,0.3,0.2,1,235,54.893617,5725.0,7.469930
2,1,300,0.1,0.1,1,272,54.779412,6440.0,8.290820
1,1,250,0.1,0.1,1,278,54.676259,5110.0,8.035690
18,1,150,0.1,0.2,1,312,54.487179,2640.0,3.886885
7,1,250,0.2,0.1,1,274,54.014599,4130.0,6.966370
13,1,250,0.3,0.1,1,243,53.497942,3035.0,6.337630
25,1,250,0.2,0.2,1,275,53.454545,3375.0,7.971485
0,1,150,0.1,0.1,1,296,53.378378,1520.0,3.693260
12,1,150,0.3,0.1,1,250,53.200000,1150.0,2.614470
24,1,150,0.2,0.2,1,282,53.191489,1290.0,3.310585
6,1,150,0.2,0.1,1,286,53.146853,1270.0,3.282830
30,1,150,0.3,0.2,1,249,52.610442,705.0,1.551935
14,1,300,0.3,0.1,1,236,52.118644,1820.0,4.528270
20,1,300,0.1,0.2,1,288,52.083333,2160.0,5.464095
8,1,300,0.2,0.1,1,259,51.351351,805.0,2.674150
26,1,300,0.2,0.2,1,254,51.181102,530.0,4.049320
4,1,250,0.1,0.1,2,257,38.132296,7965.0,5.733285
5,1,300,0.1,0.1,2,241,37.344398,7495.0,5.002455
22,1,250,0.1,0.2,2,266,37.218045,6420.0,6.290875
33,1,150,0.3,0.2,2,245,36.734694,2525.0,4.643880
23,1,300,0.1,0.2,2,251,36.653386,6245.0,5.136125
21,1,150,0.1,0.2,2,306,36.274510,2520.0,4.202690
3,1,150,0.1,0.1,2,289,35.640138,1555.0,3.907280
34,1,250,0.3,0.2,2,223,35.426009,2385.0,1.799600
35,1,300,0.3,0.2,2,209,35.406699,2855.0,2.378040
17,1,300,0.3,0.1,2,209,35.406699,2855.0,5.365630
27,1,150,0.2,0.2,2,274,35.401460,1180.0,4.257930
15,1,150,0.3,0.1,2,245,34.693878,275.0,2.950960
9,1,150,0.2,0.1,2,277,34.296029,-185.0,2.710865
16,1,250,0.3,0.1,2,222,34.234234,390.0,2.068380
10,1,250,0.2,0.1,2,245,33.469388,-975.0,0.129895
28,1,250,0.2,0.2,2,241,33.195021,-1455.0,-1.305345
29,1,300,0.2,0.2,2,225,32.444444,-2925.0,-4.014040
11,1,300,0.2,0.1,2,229,32.314410,-3245.0,-2.405435

In [5]:
for index,result_atual in df_read.loc[[31,19,32,4,5,22]].iterrows():

    zig_zag_percent = result_atual['zig_zag_percent']
    merge_percent = result_atual['merge_percent']
    pontos = result_atual['pontos']
    rate_tp = result_atual['rate_tp']

    stats = zig_zag_data(df,zig_zag_percent=zig_zag_percent, merge_distance=None,
                        merge_percent=merge_percent, min_bars_between_peaks=10, peaks='All',
                        pontos = pontos,rate_tp = rate_tp)

    print_horario(stats,zig_zag_percent,merge_percent,pontos,rate_tp)

zig_zag_percent: 0.3 -- merge_percent: 0.2 -- pontos: 250.0--Rate_tp: 1.0
   Hora_h  qtd_operacoes  taxa_acerto
0       9             71     0.549296
1      10             92     0.445652
2      11             52     0.692308
3      12             50     0.480000
4      13             41     0.414634
5      14             34     0.529412
6      15             35     0.514286
7      16             30     0.600000
8      17             34     0.647059
9      18              8     1.000000
zig_zag_percent: 0.1 -- merge_percent: 0.2 -- pontos: 250.0--Rate_tp: 1.0
   Hora_h  qtd_operacoes  taxa_acerto
0       9             80     0.462500
1      10            101     0.455446
2      11             67     0.641791
3      12             59     0.423729
4      13             53     0.528302
5      14             50     0.580000
6      15             50     0.480000
7      16             40     0.550000
8      17             46     0.608696
9      18              8     0.875000
zig_zag_percent: 0.3 -- merge_percent: 0.2 -- pontos: 300.0--Rate_tp: 1.0
   Hora_h  qtd_operacoes  taxa_acerto
0       9             69     0.550725
1      10             89     0.460674
2      11             52     0.653846
3      12             48     0.458333
4      13             38     0.447368
5      14             32     0.468750
6      15             34     0.470588
7      16             29     0.586207
8      17             34     0.676471
9      18              7     1.000000
zig_zag_percent: 0.1 -- merge_percent: 0.1 -- pontos: 250.0--Rate_tp: 2.0
   Hora_h  qtd_operacoes  taxa_acerto
0       9             68     0.397059
1      10             82     0.280488
2      11             68     0.441176
3      12             55     0.290909
4      13             44     0.340909
5      14             39     0.410256
6      15             47     0.382979
7      16             38     0.342105
8      17             33     0.393939
9      18              8     0.750000
zig_zag_percent: 0.1 -- merge_percent: 0.1 -- pontos: 300.0--Rate_tp: 2.0
   Hora_h  qtd_operacoes  taxa_acerto
0       9             65     0.400000
1      10             76     0.263158
2      11             66     0.378788
3      12             49     0.285714
4      13             35     0.314286
5      14             38     0.368421
6      15             43     0.441860
7      16             34     0.441176
8      17             34     0.382353
9      18              9     0.777778
zig_zag_percent: 0.1 -- merge_percent: 0.2 -- pontos: 250.0--Rate_tp: 2.0
   Hora_h  qtd_operacoes  taxa_acerto
0       9             76     0.381579
1      10             95     0.326316
2      11             65     0.400000
3      12             54     0.259259
4      13             46     0.326087
5      14             41     0.268293
6      15             45     0.377778
7      16             33     0.333333
8      17             37     0.405405
9      18              6     0.666667

In [ ]:
df['Data_d'] = df['Data'].apply(lambda x: x[:10])

lista_data = df['Data_d'].unique()

df_new = df[df['Data_d'] == lista_data[3]]
df_2 = df[df['Data_d'] == lista_data[4]]

In [ ]:
plot_zig_zag(df_new,df_2,zig_zag_percent=0.2, merge_distance=None,
                         merge_percent=0.3, min_bars_between_peaks=10, peaks='All')

In [ ]:
df['Data_d'] = df['Data'].apply(lambda x: x[:10])

lista_data = df['Data_d'].unique()


df_total = None

for num,data in enumerate(lista_data):

    try:
        df_new = df[df['Data_d'] == lista_data[num]]
        df_2 = df[df['Data_d'] == lista_data[num + 1]]

        levels = zig_zag(df_new,zig_zag_percent=0.2, merge_distance=None,
                                merge_percent=0.3, min_bars_between_peaks=10, peaks='All')

        lista_price = [x['price'] for x in levels]

        df_2['prox_linha'] = df_2['Close'].apply(lambda x: min(lista_price, key=lambda y:abs(y-x)))

        df_total = pd.concat([df_total,df_2])

    except:

        pass

In [ ]:
df_total['Data'] = pd.to_datetime(df_total['Data'])
df_total = df_total.set_index('Data')

In [ ]:
#sup = 2, res = -2
#Verificar Win rate pra Low, High e Close. Close é cruzamento, Low,High é encostar
#estrategia 1 -> Cruzar no sup_res, entrar no candle que cruzou
#estrategia 2 -> Cruzar no sup_res, entrar proximo candle revertendo 
#estrategia 3 -> Toque no sup_res e proximo candle revertendo (inclusive pode ser o próprio candle) 

'''df_total['sup_res'] = df_total[['Close','prox_linha']].apply(lambda x: 2 if (x['Close'] - x['prox_linha'] < 0.0004) and (x['Close'] - x['prox_linha'] > 0) 
                                                        else -2 if (x['Close'] - x['prox_linha'] < -0.0004) and (x['Close'] - x['prox_linha'] < 0) 
                                                        else 1 if (abs(x['Close'] - x['prox_linha']) > 0.0004)
                                                        else 0, axis = 1)'''
df_total ['diff'] = df_total['Close'] - df_total['prox_linha']
df_total['prox_linha_ant'] = df_total['prox_linha'].shift(1)

df_total['sup'] = df_total[['Close','prox_linha','prox_linha_ant']].apply(lambda x: 1 if (x['Close'] - x['prox_linha'] > 0)
                                                            else -1 if (x['Close'] - x['prox_linha'] < 0) and
                                                            (x['prox_linha'] == x['prox_linha_ant'])
                                                            else 0,axis = 1)

df_total['res'] = df_total[['Close','prox_linha','prox_linha_ant']].apply(lambda x: 2 if (x['Close'] - x['prox_linha'] < 0)
                                                            else -1 if (x['Close'] - x['prox_linha'] > 0) and
                                                            (x['prox_linha'] == x['prox_linha_ant'])
                                                            else 0,axis = 1)



# 1--> Cruzou pra baixo, 2 --> Cruzou pra baixo 
df_total['cruzamento_sup'] = df_total['sup'].diff().apply(lambda x: 1 if x == -2 else 0)
df_total['cruzamento_res'] = df_total['res'].diff().apply(lambda x: 2 if x == -3 else 0)
#df_total['cruzamento'] = df_total['sup_res'].diff().apply(lambda x: 1 if x == -2 else 2 if x == -3 else 0)

df_total['signal'] = 0
for index, row in df_total.iterrows():
    if row['cruzamento_sup'] == 1:
        df_total.loc[index,'signal'] = row['cruzamento_sup']
    elif row['cruzamento_res'] == 2:
        df_total.loc[index,'signal'] = row['cruzamento_res']

#estrategia 1
#df_total['acao'] = df_total['cruzamento'].apply(lambda x: 'call' if x == 1 else 'sell' if x == 2 else 0)

#df_total['signal'] = df_total['cruzamento']

lista = df_total['signal'].values
tempo_lista =15
for num, i in enumerate(lista):
    #print(num,i)
    if i != 0:
        for i in range(tempo_lista):
            try:
                n_num = num + i + 1
                lista[n_num] = 0
            except:
                pass

pontos = 0.0008
rate_tp = 1

def SIGNAL():
        return df_total.signal

class MyCandlesStrat(Strategy):
    def init(self):
        super().init()
        self.signal1 = self.I(SIGNAL)

    def next(self):
        super().next() 
        sl = pontos
        tp = pontos * rate_tp
        if self.signal1==1:
            sl1 = self.data.Close[-1] - sl
            tp1 = self.data.Close[-1] + tp
            self.buy(sl=sl1, tp=tp1)
        elif self.signal1==2:
            sl1 = self.data.Close[-1] + sl
            tp1 = self.data.Close[-1] - tp
            self.sell(sl=sl1, tp=tp1)

bt = Backtest(df_total, MyCandlesStrat, cash=100000000, commission=0,hedging=True)
stats = bt.run()
bt.plot()

In [ ]:
df_trades = stats['_trades']
#df_trades = df_trades.drop_duplicates('EntryTime')
df_trades['Hora_h'] = df_trades['EntryTime'].apply(lambda x: x.hour)
df_trades['resultado_binario'] = df_trades['ReturnPct'].apply(lambda x: 1 if x > 0 else 0)

#print(f'Time_period: {time_period} -- var_bb: {var_bb} -- pontos: {pontos}--Rate_tp: {rate_tp}')
df_new_hora = df_trades[['Hora_h','resultado_binario']]
df_new_hora = df_trades.groupby(['Hora_h'],as_index=False).agg(qtd_operacoes=('resultado_binario', 'count'), taxa_acerto=('resultado_binario', 'mean'))

#df_new_hora['pontos_liquido'] = df_new_hora.apply(calc_pontos, axis = 1)
print(df_new_hora)

In [ ]:
df_total[['Close','prox_linha','diff','sup','cruzamento_sup', 'signal']].iloc[0:50]

In [ ]:
df_2[df_2['res'] == -3]