In [2]:
import pandas as pd

In [9]:
df = pd.read_csv('eurusd1_candlepatterns_4.csv')
df.sort_values(by = 'Taxa_acerto',ascending=False).head(10)

,Timeframe,pontos,zig_zag_percent,merge_percent,rate_tp,N_trades,Taxa_acerto,Pontos_total,Retorno
36,1,0.0003,0.1,0.3,1,65,83.076923,0.00965,1.322234
42,1,0.0003,0.2,0.3,1,40,82.500000,0.00580,0.778161
18,1,0.0003,0.1,0.2,1,74,81.081081,0.01010,1.431710
48,1,0.0003,0.3,0.3,1,38,78.947368,0.00470,0.649442
0,1,0.0003,0.1,0.1,1,98,78.571429,0.01190,1.584854
24,1,0.0003,0.2,0.2,1,52,76.923077,0.00580,0.852649
6,1,0.0003,0.2,0.1,1,90,76.666667,0.00990,1.454828
30,1,0.0003,0.3,0.2,1,51,76.470588,0.00555,0.832015
12,1,0.0003,0.3,0.1,1,61,73.770492,0.00565,0.893002
31,1,0.0005,0.3,0.2,1,50,72.000000,0.00850,1.102849

In [10]:
df = pd.read_csv('eurusd1_candlepatterns_8.csv')
df.sort_values(by = 'Taxa_acerto',ascending=False).head(10)

,Timeframe,pontos,zig_zag_percent,merge_percent,rate_tp,N_trades,Taxa_acerto,Pontos_total,Retorno
14,1,0.0003,0.2,0.3,1,75,81.333333,0.01035,1.425443
12,1,0.0003,0.1,0.3,1,112,79.464286,0.01420,2.051857
8,1,0.0003,0.2,0.2,1,90,76.666667,0.00990,1.463514
2,1,0.0003,0.2,0.1,1,139,76.258993,0.01495,2.143548
6,1,0.0003,0.1,0.2,1,133,75.939850,0.01405,2.166811
13,1,0.0005,0.1,0.3,1,110,75.454545,0.02250,2.804833
16,1,0.0003,0.3,0.3,1,61,75.409836,0.00625,0.934408
10,1,0.0003,0.3,0.2,1,84,73.809524,0.00780,1.243525
0,1,0.0003,0.1,0.1,1,176,73.295455,0.01580,2.423848
4,1,0.0003,0.3,0.1,1,97,73.195876,0.00865,1.380089

In [11]:
df = pd.read_csv('eurusd5_candlepatterns_8.csv')
df.sort_values(by = 'Taxa_acerto',ascending=False).head(10)

,Timeframe,pontos,zig_zag_percent,merge_percent,rate_tp,N_trades,Taxa_acerto,Pontos_total,Retorno
25,1,0.0005,0.2,0.2,1,148,87.162162,0.04760,5.713817
43,1,0.0005,0.2,0.3,1,135,85.925926,0.04175,5.051586
36,1,0.0003,0.1,0.3,1,150,84.666667,0.02370,3.315967
1,1,0.0005,0.1,0.1,1,190,84.210526,0.05550,6.891604
37,1,0.0005,0.1,0.3,1,150,84.000000,0.04350,5.332371
13,1,0.0005,0.3,0.1,1,183,83.606557,0.05235,6.435689
6,1,0.0003,0.2,0.1,1,179,83.240223,0.02675,3.782185
7,1,0.0005,0.2,0.1,1,179,83.240223,0.05055,6.317550
31,1,0.0005,0.3,0.2,1,148,83.108108,0.04160,5.091132
24,1,0.0003,0.2,0.2,1,148,83.108108,0.02200,3.092621

In [7]:
df = pd.read_csv('eurusd5_engulfing_6.csv')
df.sort_values(by = 'Taxa_acerto',ascending=False).head(10)

,Timeframe,pontos,zig_zag_percent,merge_percent,rate_tp,N_trades,Taxa_acerto,Pontos_total,Retorno
15,1,0.0005,0.2,0.3,1,93,83.870968,0.02685,3.250423
9,1,0.0005,0.2,0.2,1,96,83.333333,0.02720,3.310560
12,1,0.0003,0.1,0.3,1,96,83.333333,0.01440,2.062321
6,1,0.0003,0.1,0.2,1,103,82.524272,0.01495,2.175506
13,1,0.0005,0.1,0.3,1,96,82.291667,0.02620,3.236548
1,1,0.0005,0.1,0.1,1,125,81.600000,0.03325,4.210998
0,1,0.0003,0.1,0.1,1,125,81.600000,0.01745,2.539491
3,1,0.0005,0.2,0.1,1,123,81.300813,0.03235,4.098308
8,1,0.0003,0.2,0.2,1,96,81.250000,0.01320,1.915847
10,1,0.0003,0.3,0.2,1,94,80.851064,0.01270,1.856908