In [2]:
import pandas as pd
import MetaTrader5 as mt5
import talib as ta
import warnings
warnings.filterwarnings("ignore")

if not mt5.initialize(path = r'C:\Program Files\Zero Markets MetaTrader 5 Terminal\terminal64.exe'):
    print("initialize() failed")
    mt5.shutdown()

In [3]:
ativo = 'EURUSD'
df = pd.DataFrame(mt5.copy_rates_from_pos(ativo, mt5.TIMEFRAME_M5, 0, 30000))
df['Data'] = pd.to_datetime(df['time'], unit='s').apply(lambda x: str(x))
df = df[['Data','open','high','low','close','real_volume']]
df.columns = ['Data','Open','High','Low','Close','Vol']
df = df.rename(columns = {'real_volume':'vol'})

In [4]:
candle_names = ta.get_function_groups()['Pattern Recognition']

In [5]:
print(candle_names)

['CDL2CROWS', 'CDL3BLACKCROWS', 'CDL3INSIDE', 'CDL3LINESTRIKE', 'CDL3OUTSIDE', 'CDL3STARSINSOUTH', 'CDL3WHITESOLDIERS', 'CDLABANDONEDBABY', 'CDLADVANCEBLOCK', 'CDLBELTHOLD', 'CDLBREAKAWAY', 'CDLCLOSINGMARUBOZU', 'CDLCONCEALBABYSWALL', 'CDLCOUNTERATTACK', 'CDLDARKCLOUDCOVER', 'CDLDOJI', 'CDLDOJISTAR', 'CDLDRAGONFLYDOJI', 'CDLENGULFING', 'CDLEVENINGDOJISTAR', 'CDLEVENINGSTAR', 'CDLGAPSIDESIDEWHITE', 'CDLGRAVESTONEDOJI', 'CDLHAMMER', 'CDLHANGINGMAN', 'CDLHARAMI', 'CDLHARAMICROSS', 'CDLHIGHWAVE', 'CDLHIKKAKE', 'CDLHIKKAKEMOD', 'CDLHOMINGPIGEON', 'CDLIDENTICAL3CROWS', 'CDLINNECK', 'CDLINVERTEDHAMMER', 'CDLKICKING', 'CDLKICKINGBYLENGTH', 'CDLLADDERBOTTOM', 'CDLLONGLEGGEDDOJI', 'CDLLONGLINE', 'CDLMARUBOZU', 'CDLMATCHINGLOW', 'CDLMATHOLD', 'CDLMORNINGDOJISTAR', 'CDLMORNINGSTAR', 'CDLONNECK', 'CDLPIERCING', 'CDLRICKSHAWMAN', 'CDLRISEFALL3METHODS', 'CDLSEPARATINGLINES', 'CDLSHOOTINGSTAR', 'CDLSHORTLINE', 'CDLSPINNINGTOP', 'CDLSTALLEDPATTERN', 'CDLSTICKSANDWICH', 'CDLTAKURI', 'CDLTASUKIGAP', 'CDLTHRUSTING', 'CDLTRISTAR', 'CDLUNIQUE3RIVER', 'CDLUPSIDEGAP2CROWS', 'CDLXSIDEGAP3METHODS']

In [11]:
df['darkcloud'] = ta.CDL3INSIDE(df['Open'],df['High'],df['Low'],df['Close'])

In [12]:
df[df['darkcloud'] != 0].tail(20)

                      Data     Open     High      Low    Close  Vol  darkcloud
26211  2023-01-04 17:00:00  1.06235  1.06239  1.05916  1.05950    0       -100
26223  2023-01-04 18:00:00  1.06027  1.06030  1.05922  1.05986    0       -100
26514  2023-01-05 18:15:00  1.05228  1.05267  1.05203  1.05257    0        100
26723  2023-01-06 11:40:00  1.05113  1.05114  1.05060  1.05061    0       -100
26776  2023-01-06 16:05:00  1.05392  1.05421  1.05265  1.05291    0       -100
27032  2023-01-09 13:25:00  1.06804  1.06844  1.06796  1.06826    0        100
27334  2023-01-10 14:35:00  1.07279  1.07287  1.07227  1.07242    0       -100
27409  2023-01-10 20:50:00  1.07318  1.07345  1.07318  1.07336    0        100
27530  2023-01-11 06:55:00  1.07352  1.07388  1.07351  1.07381    0        100
28245  2023-01-13 18:30:00  1.08182  1.08187  1.08116  1.08117    0       -100
28345  2023-01-16 02:50:00  1.08378  1.08412  1.08373  1.08402    0        100
28650  2023-01-17 04:15:00  1.08278  1.08278  1.08196  1.08201    0       -100
28727  2023-01-17 10:40:00  1.08274  1.08355  1.08249  1.08331    0        100
29212  2023-01-19 03:05:00  1.07887  1.07950  1.07884  1.07940    0        100
29269  2023-01-19 07:50:00  1.07929  1.07940  1.07907  1.07937    0        100
29311  2023-01-19 11:20:00  1.08208  1.08208  1.08166  1.08171    0       -100
29381  2023-01-19 17:10:00  1.08143  1.08158  1.08065  1.08084    0       -100
29582  2023-01-20 09:55:00  1.08417  1.08440  1.08387  1.08396    0       -100
29768  2023-01-23 01:25:00  1.08646  1.08681  1.08646  1.08665    0        100
29980  2023-01-23 19:05:00  1.08614  1.08625  1.08570  1.08574    0       -100